<center><div id="branding">
      <%= image_tag "teststub_welcome.png", :id => 'imgLogo', :title => 'VistA Novo welcomes you!', :alt => 'VistA Novo logo' %>
</div>
<h1>Welcome to the VistA Novo Test Stub</h1>
<p>This utility is for creating sample data for use with VistA Novo</p>
</center